function Board.new 8
push constant 1
call Memory.alloc 1
pop pointer 0
push constant 10
call Array.new 1
pop this 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 10
lt
not
if-goto WHILE_END0
push local 0
push this 0
add
push constant 10
call Array.new 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 0
add
pop pointer 1
push that 0
pop local 5
push constant 0
pop local 1
label WHILE_EXP1
push local 1
push constant 10
lt
not
if-goto WHILE_END1
push local 1
push local 5
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push argument 0
call Random.new 1
pop local 7
call Screen.clearScreen 0
pop temp 0
push local 7
push constant 1
call Random.randRange 2
pop local 2
push local 2
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 7
push constant 9
call Random.randRange 2
pop local 3
push local 7
push constant 4
call Random.randRange 2
pop local 4
push constant 0
pop local 1
label WHILE_EXP2
push local 1
push constant 5
lt
not
if-goto WHILE_END2
push local 4
push local 1
add
push this 0
add
pop pointer 1
push that 0
pop local 5
push local 3
push local 5
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP2
label WHILE_END2
goto IF_END0
label IF_FALSE0
push local 7
push constant 4
call Random.randRange 2
pop local 3
push local 7
push constant 9
call Random.randRange 2
pop local 4
push constant 0
pop local 1
push local 4
push this 0
add
pop pointer 1
push that 0
pop local 5
label WHILE_EXP3
push local 1
push constant 5
lt
not
if-goto WHILE_END3
push local 3
push local 1
add
push local 5
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP3
label WHILE_END3
label IF_END0
push local 7
push constant 1
call Random.randRange 2
pop local 2
push local 2
push constant 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 7
push constant 9
call Random.randRange 2
pop local 3
push local 7
push constant 5
call Random.randRange 2
pop local 4
push constant 0
pop local 1
label WHILE_EXP4
push local 1
push constant 4
lt
not
if-goto WHILE_END4
push local 4
push local 1
add
push this 0
add
pop pointer 1
push that 0
pop local 5
push local 3
push local 5
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP4
label WHILE_END4
goto IF_END1
label IF_FALSE1
push local 7
push constant 5
call Random.randRange 2
pop local 3
push local 7
push constant 9
call Random.randRange 2
pop local 4
push constant 0
pop local 1
push local 4
push this 0
add
pop pointer 1
push that 0
pop local 5
label WHILE_EXP5
push local 1
push constant 4
lt
not
if-goto WHILE_END5
push local 3
push local 1
add
push local 5
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP5
label WHILE_END5
label IF_END1
push local 7
push constant 1
call Random.randRange 2
pop local 2
push local 2
push constant 0
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 7
push constant 9
call Random.randRange 2
pop local 3
push local 7
push constant 6
call Random.randRange 2
pop local 4
push constant 0
pop local 1
label WHILE_EXP6
push local 1
push constant 3
lt
not
if-goto WHILE_END6
push local 4
push local 1
add
push this 0
add
pop pointer 1
push that 0
pop local 5
push local 3
push local 5
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP6
label WHILE_END6
goto IF_END2
label IF_FALSE2
push local 7
push constant 6
call Random.randRange 2
pop local 3
push local 7
push constant 9
call Random.randRange 2
pop local 4
push constant 0
pop local 1
push local 4
push this 0
add
pop pointer 1
push that 0
pop local 5
label WHILE_EXP7
push local 1
push constant 3
lt
not
if-goto WHILE_END7
push local 3
push local 1
add
push local 5
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP7
label WHILE_END7
label IF_END2
push local 7
push constant 1
call Random.randRange 2
pop local 2
push local 2
push constant 0
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 7
push constant 9
call Random.randRange 2
pop local 3
push local 7
push constant 7
call Random.randRange 2
pop local 4
push constant 0
pop local 1
label WHILE_EXP8
push local 1
push constant 2
lt
not
if-goto WHILE_END8
push local 4
push local 1
add
push this 0
add
pop pointer 1
push that 0
pop local 5
push local 3
push local 5
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP8
label WHILE_END8
goto IF_END3
label IF_FALSE3
push local 7
push constant 7
call Random.randRange 2
pop local 3
push local 7
push constant 9
call Random.randRange 2
pop local 4
push constant 0
pop local 1
push local 4
push this 0
add
pop pointer 1
push that 0
pop local 5
label WHILE_EXP9
push local 1
push constant 2
lt
not
if-goto WHILE_END9
push local 3
push local 1
add
push local 5
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP9
label WHILE_END9
label IF_END3
push local 7
push constant 1
call Random.randRange 2
pop local 2
push local 2
push constant 0
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 7
push constant 9
call Random.randRange 2
pop local 3
push local 7
push constant 7
call Random.randRange 2
pop local 4
push constant 0
pop local 1
label WHILE_EXP10
push local 1
push constant 2
lt
not
if-goto WHILE_END10
push local 4
push local 1
add
push this 0
add
pop pointer 1
push that 0
pop local 5
push local 3
push local 5
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP10
label WHILE_END10
goto IF_END4
label IF_FALSE4
push local 7
push constant 7
call Random.randRange 2
pop local 3
push local 7
push constant 9
call Random.randRange 2
pop local 4
push constant 0
pop local 1
push local 4
push this 0
add
pop pointer 1
push that 0
pop local 5
label WHILE_EXP11
push local 1
push constant 2
lt
not
if-goto WHILE_END11
push local 3
push local 1
add
push local 5
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP11
label WHILE_END11
label IF_END4
push pointer 0
return
function Board.dispose 0
push argument 0
pop pointer 0
call Array.dispose 0
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Board.attack 1
push argument 0
pop pointer 0
push argument 1
push this 0
add
pop pointer 1
push that 0
pop local 0
push argument 2
push local 0
add
pop pointer 1
push that 0
return
